# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/
/dist/
!/src/BibliotecasProjeto/antlr-2.7.7.jar
!/src/BibliotecasProjeto/javassist-3.20.0-GA.jar
!/src/BibliotecasProjeto/jboss-transaction-api_1.2_spec-1.0.1.Final.jar
!/src/BibliotecasProjeto/hibernate-core-5.2.10.Final.jar
!/src/BibliotecasProjeto/hibernate-jpa-2.1-api-1.0.0.Final.jar
!/src/BibliotecasProjeto/hibernate-commons-annotations-5.0.1.Final.jar
!/src/BibliotecasProjeto/jboss-logging-3.3.0.Final.jar
!/src/BibliotecasProjeto/postgresql-9.4.1209.jar
!/src/BibliotecasProjeto/dom4j-1.6.1.jar
!/src/BibliotecasProjeto/classmate-1.3.0.jar
!/src/BibliotecasProjeto/jandex-2.0.3.Final.jar